<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Contact Email</title>
</head>
<body>
  <table style="width:100%; border-collapse: collapse; border: 1px solid #ccc;">
    <tr style="background-color: #f2f2f2;">
      <th style="padding: 1em; text-align: left;">Name:</th>
      <td style="padding: 1em; text-align: left;">{{ firstName }} {{ lastName }}</td>
    </tr>
    <tr>
      <th style="padding: 1em; text-align: left;">Contact</th>
      <td style="padding: 1em; text-align: left;">{{ contact }}</td>
    </tr>
    <tr>
      <th style="padding: 1em; text-align: left;">Email</th>
      <td style="padding: 1em; text-align: left;">{{ email }}</td>
    </tr>
    <tr>
      <th style="padding: 1em; text-align: left;">Company</th>
      <td style="padding: 1em; text-align: left;">{{ company }}</td>
    </tr>
    <tr>
      <th style="padding: 1em; text-align: left;">Budget</th>
      <td style="padding: 1em; text-align: left;">{{ budget }}</td>
    </tr>
    <tr>
      <th style="padding: 1em; text-align: left;">Message</th>
      <td style="padding: 1em; text-align: left;">{{ message }}</td>
    </tr>
  </table>
</body>
</html>
